.container
	position: relative
	padding-left: 10.4vw
	padding-right: 10.4vw
	width: 100%
	height: 100%
	&.nav-container
		padding-left: 95px
		padding-right: 95px
	&.header-container
		display: flex
		flex-direction: column
		justify-content: center
	&.section-container
		padding-top: 140px
		&.last
			padding-bottom: 140px

.default-content-wrapper
	display: flex
	justify-content: space-between
	align-items: center
	width: 100%
	&.reverse
		flex-direction: row-reverse
	p
		margin-top: 35px
	.default-content-left
		width: 38%
	.default-content-right
		width: 50%
		img
			max-width: 100%
			height: 100% 
			object-fit: cover 
	.button
		margin-top: 50px

.section
	position: relative
	&.with-bg
		background-repeat: no-repeat
		background-size: cover
		padding: 180px 0px
		.container
			display: flex
			justify-content: flex-end
		.with-bg-block
			color: white
			background: $main-color
			padding: 100px 100px
			padding-right: 170px
			width: 51vw
			p
				margin-top: 15px
				&:nth-child(1)
					margin-top: 35px
				.romb
					display: inline-block
					margin-right: 10px
					color: $accent-color
					transform: translateY(-1.5px)
			.with-bg-block-offer
				margin-top: 22px
				+medium
			h3
				margin-top: 40px
				+medium
			&.with-bg-block-services
				padding-top: 77px
				padding-bottom: 77px
				a
					text-decoration: underline
	h2
		opacity: 0
		transform: translateY(30px)
	p
		opacity: 0
	.button
		opacity: 0
		transform: translateY(10px)
	h3
		opacity: 0

.main-footer
	background: $main-color
	padding: 100px 0
	padding-bottom: 140px
	position: relative
	color: white
	hr
		margin-top: 100px 
		opacity: .1


.footer-top 
	display: flex
	width: 100%
	justify-content: space-between

.footer-top-left
	width: 40%
	p
		margin-top: 25px
	button
		margin-top: 50px

.footer-top-right
	width: 32%
	span
		margin-top: 14px
		display: inline-block
		opacity: .8

.footer-contant-wrapper
	margin-bottom: 50px

.footer-bottom
	width: 100%
	display: flex
	justify-content: space-between
	margin-top: 50px
	button
		margin-top: 30px

.footer-bottom-left
	width: 8%

.footer-bottom-right
	width: 80%

.representations
	display: flex
	width: 100%
	justify-content: space-between
	flex-wrap: wrap
	p
		margin-left: 90px
		width: 20%
		line-height: 1.7em
		opacity: .8
		margin-top: 50px
.green
	color: $accent-color