---
title: Index page
route: main
footerHeader: "Приходите в наш офис на бесплатную консультацию!"
footerP: "Вместе с вами рассчитаем стоимость утепления фасада, согласуем план работ по ремонту вашего помещения или проконсультируем по использованию любого строительного материала ТМ Greinplast."
---
{% extends "layouts/_layout.html" %}
{% block content %}
<div class="overlay"></div>
<header class="main-header">
  <div class="header-bg" style="background-image: url(img/main/main-1.jpg); opacity: 0"></div>
  <div class="header-bg" style="background-image: url(img/main/main-2.jpg); opacity: 1"></div>
  <div class="header-bg" style="background-image: url(img/main/main-3.jpg); opacity: 0"></div>
  <div class="container header-container">
    <span class="main-descriptor">Greinplast — эстетика жизненного пространства</span>
    <h1 class="main-h1"><span data-bg="0" class="h1-links"><a href="facades-warming.html">Утепляем фасады</a><span class="line"></span></span>,
      проводим <span data-bg="1" class="h1-links"><a href="apartment-renovation.html">ремонтные работы</a><span class="line"></span></span> и
      продаем <span data-bg="2" class="h1-links"><a href="production.html">отделочные материалы</a><span class="line"></span></span></h1>
  </div>
  <div class="header-social">
    {% include "partials/_social.html" %}
  </div>
  <div class="scroll-down"></div>
</header>
<main>
  <section class="section">
    <div class="container section-container">
      <div class="default-content-wrapper">
        <div class="default-content-left">
          <h2>Ремонтные и отделочные работы</h2>
          <p class="default-text">Выполняем ремонт «под ключ» жилой и коммерческой недвижимости: квартиры, коттеджи, офисы, рестораны и других объектов. <br><br>Создаём дизайн-проекты и осуществляем подбор материалов. Имеем необходимый опыт и высококвалифицированных специалистов.</p>
          <a class="button" href="apartment-renovation.html"><span class="bg">{% include "partials/_blot.html" %}</span><span class="text">Больше о ремонте помещений</span></a>
        </div>
        <div class="default-content-right">
          <img src="img/main/remont.jpg" alt="remont">
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container section-container">
      <div class="default-content-wrapper reverse">
        <div class="default-content-left">
          <h2>Создание интерьеров</h2>
          <p class="default-text">Создаём дизайн-проекты «под ключ»: от планирования и визуализации будущего помещения до выбора материалов. Помогаем выбрать необходимый стиль для вашего жилья или коммерческой недвижимости.</p>
          <a class="button" href="interior-design.html"><span class="bg">{% include "partials/_blot.html" %}</span><span class="text">Больше о интерьерах</span></a>
        </div>
        <div class="default-content-right">
          <img src="img/main/interiors.jpg" alt="interiors">
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container section-container">
      <div class="default-content-wrapper">
        <div class="default-content-left">
          <h2>Утепление и реставрация<br>фасадов</h2>
          <p class="default-text">Утепляем фасады частных домов, квартир и коммерческой недвижимости. Благодаря энергоэффективности, вы будете меньше тратить на оплату отопления и комфортно чувствовать себя в собственном жилье в любое время года. <br><br>Создаем дизайн фасада и воплощаем его в реальность используя материалы ТМ Greinplast. Предоставляем гарантию на работу и материалы</p>
          <a class="button" href="facades-warming.html"><span class="bg">{% include "partials/_blot.html" %}</span><span class="text">Больше об утеплении фасадов</span></a>
        </div>
        <div class="default-content-right">
          <img src="img/main/restavration.jpg" alt="restavration">
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container section-container last">
      <div class="default-content-wrapper reverse">
        <div class="default-content-left">
          <h2>Продукция Greinplast</h2>
          <p class="default-text">Мы — эксклюзивный импортер строительных и отделочных материалов для фасадов, а также интерьеров польского производителя ТМ Greinplast.</p>
          <a class="button" href="production.html"><span class="bg">{% include "partials/_blot.html" %}</span><span class="text">Больше о продукции</span></a>
        </div>
        <div class="default-content-right">
          <img src="img/main/product.jpg" alt="product">
        </div>
      </div>
    </div>
  </section>
  <section class="section with-bg" style="background-image: url(img/main/about.jpg);">
    <div class="container">
      <div class="with-bg-block">
        <h2>О компании</h2>
        <p>Мы — польская группа компаний, производим, продаём и используем собственные строительные материалы для внутренней и внешней отделки в течение 20 лет в Европе и Украине.</p>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container section-container last">
      <h2>Почему стоит заказать<br> эти услуги у нас?</h2>
      <div class="icons-items">
        <div class="icon-item">
          {% include "partials/_materials-icon.html" %}
          <div class="icon-item-text">
            <h3>Работаем с качественными материалами Greinplast</h3>
            <p class="default-text">Знаем, как сочетать между собой материалы, работать с ними и какие инструменты для этого нужны. Каждый наш специалист имеет сертификат, подтверждающий его теоретические знания и практические навыки.</p>
          </div>
        </div>
        <div class="icon-item">
          {% include "partials/_garanties.html" %}
          <div class="icon-item-text">
            <h3>Гарантия на работу и материалы 7 лет</h3>
            <p class="default-text">Мы уверены в качестве своих товаров, поэтому даем гарантию 7 лет на материалы и работу. Если у вас возникнут вопросы относительно качества выполненных работ — вы можете получить бесплатную компенсацию, если ошибка возникла по нашей вине.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
{% include "partials/_footer.html" %}
{% include "partials/_pop-up-form.html" %}
{% endblock %}
