---
title: Partners page
route: about
footerHeader: "Приходите в наш офис на консультацию!"
footerP: "Расскажем, почему выгодно работать с материалами Greinplast, договоримся о скидках и обсудим совместную работу на наших объектах."
---
{% extends "layouts/_layout.html" %}
{% block content %}
<div class="overlay"></div>
<header class="about-header">
  <div class="container header-container">
    <h1>Партнёрам</h1>
    <div class="about-header-text two-col">
      <p class="bold">Уже работаете с материалами Greinplast или хотите попробовать?</p>
      <p class="bold">Мы не только продаём материалы, но и развиваем экосистему для строителей.</p>
    </div>
  </div>
</header>
<main>
  <div class="info-block">
    <div class="container section-container">
      <div class="info-block-content">
        <h2>Сотрудничая с нами, вы получаете:</h2>
        <div class="info-block-content__wrapper">
          <div class="info-block-content--left">
            <p><span class="romb">♦</span>идеи дизайна интерьера и экстерьера;</p>
            <p><span class="romb">♦</span>практические навыки работы с материалами Greinplast; </p>
          </div>
          <div class="info-block-content--right">
            <p><span class="romb">♦</span>теоретические знания;</p>
            <p><span class="romb">♦</span>полезные знакомства в строительно-ремонтной сфере. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <section class="section">
    <div class="container section-container">
      <div class="default-content-wrapper">
        <div class="default-content-left">
          <h2>Обучаем работе с материалами Greinplast</h2>
          <span class="default-content-plus-text">Организовываем групповые поездки в Польшу на производство, где обучаем технологиям работы с материалами Greinplast.</span>
          <p class="default-text">Эти знания повысят профессиональный уровень, и помогут реализовывать более сложные строительные задачи ваших клиентов.<br><br>Приезжайте к нам в офис: мы расскажем, какие задачи можно решить с помощью наших отделочных материалов, а также поделимся трендами во внутренней и наружной отделке.</p>
          <button class="button form-handler" href="apartment-renovation.html"><span class="bg">{% include "partials/_blot.html" %}</span><span class="text">Обсудить сотрудничество</span></button>
        </div>
        <div class="default-content-right">
          <img src="img/about/3.jpg" alt="greinplast">
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container section-container">
      <div class="default-content-wrapper reverse">
        <div class="default-content-left">
          <h2>Строителям</h2>
          <span class="default-content-plus-text">Утепляете дома на заказ с командой?</span>
          <p class="default-text">С нами вы улучшите репутацию и заработаете больше денег! <br>
            <br>- Программа скидок для партнёров
            <br>- Загруженность работой на наших строительных объектах
            <br>- Бесплатные обучающие поездки на производство в Польшу с выдачей официальных сертификатов
            <br>- Удобный формат сотрудничества для оптовых покупателей и строителей на взаимовыгодных условиях
          </p>
          <button class="button form-handler" href="apartment-renovation.html"><span class="bg">{% include "partials/_blot.html" %}</span><span class="text">Обсудить сотрудничество</span></button>
        </div>
        <div class="default-content-right">
          <img src="img/about/4.jpg" alt="ecosystem">
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container section-container last">
      <div class="default-content-wrapper">
        <div class="default-content-left">
          <h2>Дизайнерам и архитекторам</h2>
          <span class="default-content-plus-text">Помогаем реализовывать ваши дизайн-проекты.</span>
          <p class="default-text">С отделочными материалами Greinplast можно дать волю фантазии! <br><br>Решайте поставленные клиентами задачи, а мы позаботимся о их практической реализации.
            Хотите использовать для декора помещения или наружной отделки какое-то необычное визуальное решение, но сомневаетесь, что на рынке есть подходящий материал? <br><br>Мы подберём нужные материалы, чтобы вы реализовали свой проект именно так, как видите его у себя в голове. </p>
          <button class="button form-handler" href="apartment-renovation.html"><span class="bg">{% include "partials/_blot.html" %}</span><span class="text">Обсудить сотрудничество</span></button>
        </div>
        <div class="default-content-right">
          <img src="img/about/5.jpg" alt="ecosystem">
        </div>
      </div>
    </div>
  </section>
</main>
{% include "partials/_footer.html" %}
<div class="pop-up-form">
  <div class="pop-up-form-scroll">
    <div class="close-form-icon"><svg style="display: block;" width="25" height="25" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="1.29289" y1="14.0907" x2="14.0208" y2="1.36282" stroke="white" stroke-width="2" />
        <line x1="1.70711" y1="1.29289" x2="14.435" y2="14.0208" stroke="white" stroke-width="2" />
      </svg>
    </div>
    <h2 class="form-h2">Пожалуйста, оставьте вашу заявку в форме ниже</h2>
    <div class="form-wrapper">
      <form class="form" name="form">
        <!-- Hidden Required Fields -->
        <input type="hidden" name="project_name" value="greinplast site">
        <input type="hidden" name="admin_email" value="hello@emotion-agency.com">
        <input type="hidden" name="form_subject" value="Заявка с главной greinplast">
        <!-- END Hidden Required Fields -->
        <div class="input-wrapper first">
          <input type="text" class="text-field" maxlength="256" name="Имя" id="name" autocomplete="off">
          <label for="name" class="label">
            <span class="label-content">Имя</span>
          </label>
        </div>
        <div class="input-wrapper">
          <input type="text" class="text-field" maxlength="256" name="E-mail" id="email" autocomplete="off">
          <label for="email" class="label">
            <span class="label-content">E-mail</span>
          </label>
        </div>
        <div class="input-wrapper">
          <input type="tel" class="text-field" maxlength="256" name="Телефон" id="phone" autocomplete="off">
          <label for="phone" class="label">
            <span class="label-content">Номер телефона</span>
          </label>
          <span class="form-validate-text">поле не может быть пустым</span>
        </div>
        <div class="form-wrap">
          <div class="private-policy">Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c политикой конфиденциальности</div>
          <button class="button border-button form-btn"><span class="bg">{% include "partials/_blot.html" %}</span></span><input type="submit" value="Оставить заявку" class="text form-button"></button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
