---
title: Production page
route: production
footerHeader: "Приходите в наш офис на консультацию!"
footerP: "Расскажем, почему выгодно работать с материалами Greinplast, договоримся о скидках и обсудим совместную работу на наших объектах."
---
{% extends "layouts/_layout.html" %}
{% block content %}
<div class="overlay"></div>
<header class="production-header">
  <div class="container header-container">
    <div class="production-header-text">
      <h1>Строительная продукция Greinplast</h1>
      <p>В этом разделе вы можете ознакомиться с продукцией ТМ Greinplast. <br>В ассортименте есть:</p>
    </div>
  </div>
</header>
<main>
  <div class="container section-container last">
    <div class="products-wrapper">
      <div class="product-item">
          <h2>Фасадные системы</h2>
          <div class="product-item-flex">
            <div class="product-item-left">
              <div class="product-p">
                <div class="product-p-content__wrapper">
                  <div class="product-p-content--left">
                    <p><span class="romb">♦</span>Системный клей</p>
                    <p><span class="romb">♦</span>Грунтовые краски</p>
                    <p><span class="romb">♦</span>Тонкослойная штукатурка</p>
                    <p><span class="romb">♦</span>Мозаичная штукатурка</p>
                  </div>
                  <div class="product-p-content--right">
                    <p><span class="romb">♦</span>Фасадные краски</p>
                    <p><span class="romb">♦</span>Растворители</p>
                    <p><span class="romb">♦</span>Фасадные панели и облицовка</p>
                  </div>
                </div>
                <a class="button" href="apartment-renovation.html"><span class="bg">{% include "partials/_blot.html" %}</span><span class="text">Посмотреть каталог</span></a>
              </div>
            </div>
            <div class="product-item-right">
              <img src="img/production/1.jpg" alt="facades-system">
            </div>
          </div>
        <div class="product-item-line dark"></div>
      </div>
      <div class="product-item">
          <h2>Строительная химия</h2>
          <div class="product-item-flex">
            <div class="product-item-left">
              <div class="product-p">
                <div class="product-p-content__wrapper">
                  <div class="product-p-content--left">
                    <p><span class="romb">♦</span>Декоративные напольные системы</p>
                    <p><span class="romb">♦</span>Клей для плитки</p>
                    <p><span class="romb">♦</span>Самовыравнивающие смеси для пола</p>
                    <p><span class="romb">♦</span>Гидроизоляция</p>
                    <p><span class="romb">♦</span>Аксессуары для гидроизоляции</p>
                    <p><span class="romb">♦</span>Стяжка цементная</p>
                    <p><span class="romb">♦</span>Стяжка антигидридная</p>
                    <p><span class="romb">♦</span>Штукатурки обычные</p>
                  </div>
                  <div class="product-p-content--right">
                    <p><span class="romb">♦</span>Штукатурка гипсовая</p>
                    <p><span class="romb">♦</span>Штукатурка мелкозернистая</p>
                    <p><span class="romb">♦</span>Клея монтажные</p>
                    <p><span class="romb">♦</span>Битумные изоляции</p>
                    <p><span class="romb">♦</span>Полиуретановые пены и очистители</p>
                    <p><span class="romb">♦</span>Герметики</p>
                    <p><span class="romb">♦</span>Пропитки</p>
                    <p><span class="romb">♦</span>Материалы для дерева</p>
                  </div>
                </div>
                <a class="button" href="apartment-renovation.html"><span class="bg">{% include "partials/_blot.html" %}</span><span class="text">Посмотреть каталог</span></a>
              </div>
            </div>
            <div class="product-item-right">
              <img src="img/production/1.jpg" alt="facades-system">
            </div>
          </div>
        <div class="product-item-line dark"></div>
      </div>
            <div class="product-item">
          <h2>Изделия для интерьера</h2>
          <div class="product-item-flex">
            <div class="product-item-left">
              <div class="product-p">
                <div class="product-p-content__wrapper">
                  <div class="product-p-content--left">
                    <p><span class="romb">♦</span>Грунтовка</p>
                    <p><span class="romb">♦</span>Клей гипсовый</p>
                    <p><span class="romb">♦</span>Гипсовые смеси и шпаклевки</p>
                  </div>
                  <div class="product-p-content--right">
                    <p><span class="romb">♦</span>Шпаклевочные массы</p>
                    <p><span class="romb">♦</span>Декоративные штукатурки</p>
                    <p><span class="romb">♦</span>Краски для интерьера</p>
                  </div>
                </div>
                <a class="button" href="apartment-renovation.html"><span class="bg">{% include "partials/_blot.html" %}</span><span class="text">Посмотреть каталог</span></a>
              </div>
            </div>
            <div class="product-item-right">
              <img src="img/production/1.jpg" alt="facades-system">
            </div>
          </div>
        <div class="product-item-line dark"></div>
      </div>
    </div>
  </div>
    <section class="section with-bg" style="background-image: url(img/facades-design/price-bg.jpg);">
    <div class="container">
      <div class="with-bg-block with-bg-block-services">
        <h2>Как купить?</h2>
        <p>Чтобы купить нужный материал, оставьте заявку или напишите в онлайн-чат. Забрать товар можно в нашем шоу-руме или же заказать доставку на объект.</p>
        <button class="button border-button form-handler" href="apartment-renovation.html"><span class="bg">{% include "partials/_blot.html" %}</span><span class="text">Заказать товар</span></button>
      </div>
    </div>
  </section>
</main>
<div class="pop-up-form">
  <div class="pop-up-form-scroll">
    <div class="close-form-icon"><svg style="display: block;" width="25" height="25" viewBox="0 0 16 15" fill="none" xmlns="http://www.w3.org/2000/svg">
        <line x1="1.29289" y1="14.0907" x2="14.0208" y2="1.36282" stroke="white" stroke-width="2" />
        <line x1="1.70711" y1="1.29289" x2="14.435" y2="14.0208" stroke="white" stroke-width="2" />
      </svg>
    </div>
    <h2 class="form-h2">Пожалуйста, оставьте вашу заявку в форме ниже</h2>
    <div class="form-wrapper">
      <form class="form" name="form">
        <!-- Hidden Required Fields -->
        <input type="hidden" name="project_name" value="greinplast site">
        <input type="hidden" name="admin_email" value="hello@emotion-agency.com">
        <input type="hidden" name="form_subject" value="Заявка с главной greinplast">
        <!-- END Hidden Required Fields -->
        <div class="input-wrapper first">
          <input type="text" class="text-field" maxlength="256" name="Имя" id="name" autocomplete="off">
          <label for="name" class="label">
            <span class="label-content">Имя</span>
          </label>
        </div>
        <div class="input-wrapper">
          <input type="text" class="text-field" maxlength="256" name="E-mail" id="email" autocomplete="off">
          <label for="email" class="label">
            <span class="label-content">E-mail</span>
          </label>
        </div>
        <div class="input-wrapper">
          <input type="tel" class="text-field" maxlength="256" name="Телефон" id="phone" autocomplete="off">
          <label for="phone" class="label">
            <span class="label-content">Номер телефона</span>
          </label>
          <span class="form-validate-text">поле не может быть пустым</span>
        </div>
        <div class="form-wrap">
          <div class="private-policy">Нажимая на кнопку, вы даете согласие на обработку персональных данных и соглашаетесь c политикой конфиденциальности</div>
          <button class="button border-button form-btn"><span class="bg">{% include "partials/_blot.html" %}</span></span><input type="submit" value="Оставить заявку" class="text form-button"></button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
