{% include "../partials/_media-tags.html" %}

<body>
  <div class="loader-screen">
    <div class="loader"></div>
  </div>
  {% include "../partials/_navbar.html" %}

  <div class="site-wrapper" data-router-wrapper>
    <div data-router-view="{% if route %}{{ route }}{% else %}Template{% endif %}">
      <!-- BEGIN content -->
      {% block content %}{% endblock %}
      <!-- END content -->
      {% include "../partials/_pop-up-form.html" %}
    </div>
  </div>
  <!-- BEGIN scripts -->
  <script src="{% if blog %}../{% endif %}js/app.js"></script>
  <!-- END scripts -->
</body>

</html>
