.navbar
	width: 100%
	position: fixed
	top: 3.7vh
	z-index: 10
	color: white
	transition: color .3s cubic-bezier(0.39, 0.575, 0.565, 1), background .3s cubic-bezier(0.39, 0.575, 0.565, 1), opacity .3s cubic-bezier(0.39, 0.575, 0.565, 1), transform .3s cubic-bezier(0.39, 0.575, 0.565, 1)
	padding-right: var(--mr)
	.nav-container
		display: flex
		justify-content: space-between
		align-items: center
	&.loaded
		transform: translateY(0px)
		opacity: 1
	&.nav-bg
		background: rgba($main-color, 0.9)
		top: 0
		padding: 20px 0
		&.white
			background: white
	&.nav-hidden
		opacity: 0
		transform: translateY(-20px)


	nav
		width: 50%
		ul
			width: 100%
			display: flex
			justify-content: space-between
			li
				cursor: pointer
				transition: color .4s ease
				a
					transition: color .4s ease
					&:hover
						color: $accent-color

.burger
	display: none

.logo-img
	&.mob
		display: none

// .with-drpdn
// 	&:hover
// 		color: $accent-color
// 		.dropdown-content
// 			opacity: 1
// 			pointer-events: auto
			

.dropdown-content
	position: absolute
	padding: 25px 18px
	background: #292B33
	color: white
	display: none
	// margin-top: 14px
	opacity: 0
	pointer-events: none
	transition: opacity .5s ease
	a
		display: block
		margin-top: 25px
		&:nth-child(1)
			margin-top: 0px
	&.open
		opacity: 1
		pointer-events: auto

.nav-mobile-header
	display: none