.navbar
	width: 100%
	position: absolute
	top: 3.7%
	z-index: 10
	color: white
	.nav-container
		display: flex
		justify-content: space-between
		align-items: center

	nav
		width: 50%
		ul
			width: 100%
			display: flex
			justify-content: space-between
			li
				cursor: pointer
				transition: color .4s ease
				&:hover
					color: $accent-color