.scroll-down {
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    width: 1px;
    height: 90px;
    background: rgba(255, 255, 255, 0.4);
    opacity: 1;
    overflow: hidden;
}

.scroll-down:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    height: 100%;
    width: 100%;
    animation: scrolling 2.5s infinite cubic-bezier(0.645, 0.045, 0.355, 1);
}

@keyframes scrolling {
    0% {
        transform: translateY(-100%);
    }

    70% {
        transform: translateY(100%);
    }


    100% {
        transform: translateY(100%);
    }
}

@media (max-width: 1375px) {
    .scroll-down {
    	height: 70px;
    }
}